{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Reservations
                    </div>
                </div>
                <div class="panel-body">
                    Hello Reservation World!
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Machine Signoffs
                </div>
                <div class="panel-body">
                    Hello Signoffs World!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Machinery Available
                </div>
            </div>
            <div class="panel-body">
                Machinery Availability
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Membership Status
                </div>
            </div>
            <div class="panel-body">
                Membership status
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Make a reservation
                </div>
            </div>
            <div class="panel-body">
                Reservation Form.
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
